@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.providerid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.providertype" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.providername" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.joindate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.address" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.province" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.city" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.area" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.legal" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.telephone" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.wechatid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.openid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.citizenid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.email" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.bank" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.accountname" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.account" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.enable" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProvider.remark" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/sc/scprovider/edit.js"></script>
@}