@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.providerid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.balancedate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.operator" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.amount" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.paymenttype" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.openId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.accountname" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.paymentamount" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.paymentratio" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.paymentstatus" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.paymentid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.paymentdate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scProviderbalance.remark" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/sc/scproviderbalance/add.js"></script>
@}