@layout("../../system/layout.html", {title: ""}){
@}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <style type="text/css">
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        /**
         * 利用 containerClassNames: 'my-marker' 设置label样式
         */
        .amap-simple-marker.my-marker .amap-simple-marker-label {
            color: #fff;
            font-size: 16px;
            font-style: italic;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="container" tabindex="0"></div>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=02b1aa5023b20e45be00edb77efaccbd"></script>
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script src="${ctxPath}/static/js/sc/scoutletmap/map.js"></script>
    <script type="text/javascript"></script>
</body>