@layout("../../system/layout.html", {title: "realtimestatus"}){
@}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
</head>
<body>
    <div class="row">
        <div id="container" style="width: 1000px; height: 480px; margin: 0 auto"></div>
    </div>
    <script src="${ctxPath}/static/js/sc/scoutletmap/highcharts.js"></script>
    <script src="${ctxPath}/static/js/sc/scoutletmap/realtimestatus.js"></script>
    <script type="text/javascript"></script>
</body>