<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.sc.dao.ScChargeprofitMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
			(
				SELECT
				o.outletname
				FROM
				sc_outlet o
				WHERE
				o.outletid = cp.outletid
			) as outletName,
			`Profits`, 
			`ChargeNum`, 
			`PowerConsumption`, 
			`DistProfits`
		FROM
			sc_chargeprofit cp
		WHERE
			cp.outletid IN(
				SELECT
				outletId
				FROM
				sc_outlet
				WHERE
				providerId = #{providerId}
			)
		AND
			cp.chargedate = #{chargeDate}
		ORDER BY
			Id DESC
	</select>

	<select id="getProfit" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
			(
				SELECT
					p.providername
				FROM
					sc_provider p
				WHERE
					ProviderId = #{providerId}
			) as providerName,
			#{providerId} as providerId,
			cp.ChargeDate,
			sum(cp.Profits) Profits,
			sum(cp.ChargeNum) ChargeNum,
			sum(cp.PowerConsumption) PowerConsumption,
			sum(cp.DistProfits) DistProfits
		FROM
			sc_chargeprofit cp
		<where>
			cp.outletId IN (
				SELECT
					outletId
				FROM
					sc_outlet
				WHERE
					ProviderId = #{providerId}
			)
			<if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
				AND DATE_FORMAT( ChargeDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
		</where>
		GROUP BY cp.ChargeDate
	</select>

	<select id="listProfit" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
		(
			SELECT
			providername
			FROM
			sc_provider p
			WHERE
			p.providerId = (
				SELECT
				providerid
				FROM
				sc_outlet o
				WHERE
				o.outletid = cp.outletid
			)
		) as providerName,
		(
			SELECT
			providerid
			FROM
			sc_outlet o
			WHERE
			o.outletid = cp.outletid
		) as providerId,
		cp.ChargeDate,
		sum(cp.Profits) Profits,
		sum(cp.ChargeNum) ChargeNum,
		sum(cp.PowerConsumption) PowerConsumption,
		sum(cp.DistProfits) DistProfits
		FROM
		sc_chargeprofit cp
		<where>
			<if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
				AND DATE_FORMAT( ChargeDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
		</where>
		GROUP BY cp.ChargeDate, providerId, providerName
	</select>

	<select id="listMonthProfit" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
		(
			SELECT
			providername
			FROM
			sc_provider p
			WHERE
			p.providerId = (
				SELECT
				providerid
				FROM
				sc_outlet o
				WHERE
				o.outletid = cp.outletid
			)
		) as providerName,
		(
			SELECT
			providerid
			FROM
			sc_outlet o
			WHERE
			o.outletid = cp.outletid
		) as providerId,
		CONCAT(YEAR(ChargeDate),'-',MONTH(ChargeDate)) AS chargeMonth,
		(
			SELECT
			id
			FROM
			sc_payprovider pp
			WHERE
			pp.payMonth = chargeMonth
			AND
			pp.providerid = (
				SELECT
				providerid
				FROM
				sc_outlet o
				WHERE
				o.outletid = cp.outletid
			)
		) as payId,
		sum(cp.Profits) Profits,
		sum(cp.DistProfits) DistProfits
		FROM
		sc_chargeprofit cp
		WHERE
			DATE_FORMAT( ChargeDate, '%Y-%m') BETWEEN #{startDate} AND #{endDate}
		GROUP BY chargeMonth, providerId, providerName, payId
		ORDER BY payId, chargeMonth
	</select>

	<select id="getProfitReport" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
			(
				SELECT
					outletname
				FROM
					sc_outlet o
				WHERE
					o.outletId = cp.outletId
			) as outletName,
			cp.outletid,
			(
				SELECT
					COUNT(serialId)
				FROM
					sc_serial s
				WHERE
					s.outletId = cp.outletId
			) as serialNum,
			(
				SELECT
					SUM(chargeTime)
				FROM
					sc_charge c
				WHERE
					c.outletId = cp.outletId
					<if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
						AND DATE_FORMAT( ChargeDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
					</if>
			) as chargeTime,
			sum(cp.Profits) Profits,
			sum(cp.ChargeNum) ChargeNum,
			sum(cp.PowerConsumption) PowerConsumption,
			sum(cp.DistProfits) DistProfits
		FROM
			sc_chargeprofit cp
		<where>
			cp.outletId IN (
			SELECT
			outletId
			FROM
			sc_outlet
			WHERE
			ProviderId = #{providerId}
			)
			<if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
				AND DATE_FORMAT( ChargeDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
		</where>
		GROUP BY outletName, outletId
	</select>

	<select id="listForDetail" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
		(
			SELECT
			outletname
			FROM
			sc_outlet o
			WHERE
			o.outletId = cp.outletId
		) as outletName,
		cp.outletid,
		(
			SELECT
			COUNT(serialId)
			FROM
			sc_serial s
			WHERE
			s.outletId = cp.outletId
		) as serialNum,
		(
			SELECT
			SUM(chargeTime)
			FROM
			sc_charge c
			WHERE
			c.outletId = cp.outletId
			AND DATE_FORMAT( ChargeDate, '%Y-%m') BETWEEN #{payMonth} AND #{payMonth}
		) as chargeTime,
		sum(cp.Profits) Profits,
		sum(cp.ChargeNum) ChargeNum,
		sum(cp.PowerConsumption) PowerConsumption,
		sum(cp.DistProfits) DistProfits
		FROM
		sc_chargeprofit cp
		<where>
			cp.outletId IN (
			SELECT
			outletId
			FROM
			sc_outlet
			WHERE
			ProviderId = #{providerId}
			)
			AND DATE_FORMAT( ChargeDate, '%Y-%m') BETWEEN #{payMonth} AND #{payMonth}
		</where>
		GROUP BY outletName, outletId
	</select>
	
	<insert id="save">
		INSERT INTO sc_chargeprofit (
			`ChargeDate`, 
			`OutletId`, 
			`Profits`, 
			`ChargeNum`, 
			`PowerConsumption`, 
			`DistProfits`
		)
		VALUES (
			#{chargedate}, 
			#{outletid}, 
			#{profits}, 
			#{chargenum}, 
			#{powerconsumption}, 
			#{distprofits}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
			`Id`, 
			`ChargeDate`, 
			`OutletId`, 
			`Profits`, 
			`ChargeNum`, 
			`PowerConsumption`, 
			`DistProfits`
		FROM
			sc_chargeprofit
		WHERE
			Id = #{id}
	</select>
	
	<update id="update">
		UPDATE sc_chargeprofit
	 	<set>
			<if test="chargedate != null">`ChargeDate` = #{chargedate}, </if>
			<if test="outletid != null">`OutletId` = #{outletid}, </if>
			<if test="profits != null">`Profits` = #{profits}, </if>
			<if test="chargenum != null">`ChargeNum` = #{chargenum}, </if>
			<if test="powerconsumption != null">`PowerConsumption` = #{powerconsumption}, </if>
			<if test="distprofits != null">`DistProfits` = #{distprofits}</if>
		</set>
		WHERE
			Id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sc_chargeprofit
		WHERE
			Id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>