<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.sc.dao.ScChargeprofitMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
			`Id`, 
			`ChargeDate`, 
			`OutletId`, 
			`Profits`, 
			`ChargeNum`, 
			`PowerConsumption`, 
			`DistProfits`
		FROM
			sc_chargeprofit
		ORDER BY
			Id DESC
	</select>
	
	<insert id="save">
		INSERT INTO sc_chargeprofit (
			`ChargeDate`, 
			`OutletId`, 
			`Profits`, 
			`ChargeNum`, 
			`PowerConsumption`, 
			`DistProfits`
		)
		VALUES (
			#{chargedate}, 
			#{outletid}, 
			#{profits}, 
			#{chargenum}, 
			#{powerconsumption}, 
			#{distprofits}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.sc.entity.ScChargeprofitEntity">
		SELECT
			`Id`, 
			`ChargeDate`, 
			`OutletId`, 
			`Profits`, 
			`ChargeNum`, 
			`PowerConsumption`, 
			`DistProfits`
		FROM
			sc_chargeprofit
		WHERE
			Id = #{id}
	</select>
	
	<update id="update">
		UPDATE sc_chargeprofit
	 	<set>
			<if test="chargedate != null">`ChargeDate` = #{chargedate}, </if>
			<if test="outletid != null">`OutletId` = #{outletid}, </if>
			<if test="profits != null">`Profits` = #{profits}, </if>
			<if test="chargenum != null">`ChargeNum` = #{chargenum}, </if>
			<if test="powerconsumption != null">`PowerConsumption` = #{powerconsumption}, </if>
			<if test="distprofits != null">`DistProfits` = #{distprofits}</if>
		</set>
		WHERE
			Id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sc_chargeprofit
		WHERE
			Id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>