<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.sc.dao.ScSerialMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.sc.entity.ScSerialEntity">
		SELECT
			`Id`, 
			`OutletId`, 
			`SerialId`, 
			`Status`
		FROM
			sc_serial
		ORDER BY
			Id DESC
	</select>
	
	<select id="listByOutletId" resultType="net.chenlin.dp.modules.sc.entity.ScSerialEntity">
		SELECT 
			`Id`,
			`OutletId`,
			`SerialId`,
			`Status`
		FROM 
			sc_serial
		WHERE 
			outletId = #{name}
	</select>

	<select id="listChargingSerial" resultType="net.chenlin.dp.modules.sc.entity.ScSerialEntity">
		SELECT
			`Id`,
			`OutletId`,
			`SerialId`,
			`Status`
		FROM
			sc_serial
		WHERE
			outletId = #{name}
		AND
			status = 1
	</select>
	
	<insert id="save">
		INSERT INTO sc_serial (
			`OutletId`, 
			`SerialId`, 
			`Status`
		)
		VALUES (
			#{outletid}, 
			#{serialid}, 
			#{status}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.sc.entity.ScSerialEntity">
		SELECT
			`Id`, 
			`OutletId`, 
			`SerialId`, 
			`Status`
		FROM
			sc_serial
		WHERE
			Id = #{id}
	</select>
	
	<update id="update">
		UPDATE sc_serial
	 	<set>
			<if test="outletid != null">`OutletId` = #{outletid}, </if>
			<if test="serialid != null">`SerialId` = #{serialid}, </if>
			<if test="status != null">`Status` = #{status}</if>
		</set>
		WHERE
			Id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sc_serial
		WHERE
			Id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>