@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scOutlettype.typename" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scOutlettype.description" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle"><font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="scOutlettype.image" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/sc/scoutlettype/add.js"></script>
@}